In [1]:
import pandas as pd
import numpy as np

In [3]:
dataset=pd.read_csv("Salary_dataset.csv")

In [5]:
dataset.head(5)

   Unnamed: 0  YearsExperience   Salary
0           0              1.2  39344.0
1           1              1.4  46206.0
2           2              1.6  37732.0
3           3              2.1  43526.0
4           4              2.3  39892.0

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       30 non-null     int64
 1   YearsExperience  30 non-null     float64
 2   Salary           30 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 852.0 bytes

In [9]:
dataset.describe()

       Unnamed: 0  YearsExperience         Salary
count   30.000000        30.000000      30.000000
mean    14.500000         5.413333   76004.000000
std      8.803408         2.837888   27414.429785
min      0.000000         1.200000   37732.000000
25%      7.250000         3.300000   56721.750000
50%     14.500000         4.800000   65238.000000
75%     21.750000         7.800000  100545.750000
max     29.000000        10.600000  122392.000000

In [11]:
dataset.shape

(30, 3)

In [13]:
dataset.columns

Index(['Unnamed: 0', 'YearsExperience', 'Salary'], dtype='object')

In [15]:
dataset.isnull().head()

   Unnamed: 0  YearsExperience  Salary
0       False            False   False
1       False            False   False
2       False            False   False
3       False            False   False
4       False            False   False

In [17]:
dataset.isnull().sum()

Unnamed: 0         0
YearsExperience    0
Salary             0
dtype: int64

In [19]:
dataset[['SALARY']]

KeyError: "None of [Index(['SALARY'], dtype='object')] are in the [columns]"

In [21]:
dataset[['Salary']]

      Salary
0    39344.0
1    46206.0
2    37732.0
3    43526.0
4    39892.0
5    56643.0
6    60151.0
7    54446.0
8    64446.0
9    57190.0
10   63219.0
11   55795.0
12   56958.0
13   57082.0
14   61112.0
15   67939.0
16   66030.0
17   83089.0
18   81364.0
19   93941.0
20   91739.0
21   98274.0
22  101303.0
23  113813.0
24  109432.0
25  105583.0
26  116970.0
27  112636.0
28  122392.0
29  121873.0

In [27]:
dataset['Year of Experience','Salary']

KeyError: ('Year of Experience', 'Salary')